@model UserOrderListModel
@{
    Layout = "_ColumnsTwo";
}
@section account_navigation
{
    @await Component.InvokeAsync("AccountNavigation", new { selectedTabId = (int)AccountNavigationEnum.Orders })
}
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>Orders</h1>
    </div>
    <div class="page-body">
        @if (Model.Orders.Count > 0)
        {
            <div class="order-list">
                @foreach (var order in Model.Orders)
                {
                    <div class="section order-item">
                        <div class="title">
                            <strong>Order: @order.Id</strong>
                        </div>
                        <ul class="info">
                            <li>Order Status: <span class="order-status @order.OrderStatusEnum.ToString().ToLowerInvariant()">@order.OrderStatus</span></li>
                            <li>Order Date: <span class="order-date">@order.CreatedOn.ToString()</span></li>
                            <li>Order Total: <span class="order-total">@order.OrderTotal</span></li>
                        </ul>
                        <div class="buttons">
                            <button type="button" class="button-2 order-details-button" onclick="window.location.href = '@Url.RouteUrl("OrderDetails", new { orderId = order.Id })'">Order Details</button>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                No Orders
            </div>
        }
    </div>
</div>