@model OrderModel

<t-accordion>
    <div class="form-group row">
        <div class="col-md-12" style="overflow-x: auto;">
            @foreach (var item in Model.Items)
            {
                <script>
                    $(function() {
                        toggleOrderItemEdit@(item.Id)(false);
                    });
                </script>

                <script>
                    function toggleOrderItemEdit@(item.Id)(editMode) {
                        if (editMode) {
                            $('#pnlEditPvUnitPrice@(item.Id)').show();
                            $('#pnlEditPvQuantity@(item.Id)').show();
                            $('#pnlEditPvDiscount@(item.Id)').show();
                            $('#pnlEditPvPrice@(item.Id)').show();                            
                            $('#btnSaveOrderItem@(item.Id)').show();
                            $('#btnCancelOrderItem@(item.Id)').show();

                            $('#pvPrice@(item.Id)').prop("disabled", false);
                            $('#pvQuantity@(item.Id)').prop("disabled", false);
                            $('#pvDiscountInclTax@(item.Id)').prop("disabled", false);
                            $('#pvDiscountExclTax@(item.Id)').prop("disabled", false);
                            $('#pvPriceInclTax@(item.Id)').prop("disabled", false);
                            $('#pvPriceExclTax@(item.Id)').prop("disabled", false);                            

                            $('#btnEditOrderItem@(item.Id)').hide();
                            $('#btnDeleteOrderItem@(item.Id)').hide();
                        } else {
                            $('#pnlEditPvUnitPrice@(item.Id)').hide();
                            $('#pnlEditPvQuantity@(item.Id)').hide();
                            $('#pnlEditPvDiscount@(item.Id)').hide();
                            $('#pnlEditPvPrice@(item.Id)').hide();
                            $('#btnSaveOrderItem@(item.Id)').hide();
                            $('#btnCancelOrderItem@(item.Id)').hide();

                            $('#pvPrice@(item.Id)').prop("disabled", true);
                            $('#pvUnitPriceExclTax@(item.Id)').prop("disabled", true);
                            $('#pvQuantity@(item.Id)').prop("disabled", true);
                            $('#pvDiscountInclTax@(item.Id)').prop("disabled", true);
                            $('#pvDiscountExclTax@(item.Id)').prop("disabled", true);
                            $('#pvPriceInclTax@(item.Id)').prop("disabled", true);
                            $('#pvPriceExclTax@(item.Id)').prop("disabled", true);

                            $('#btnEditOrderItem@(item.Id)').show();
                            $('#btnDeleteOrderItem@(item.Id)').show();                            
                        }
                    }
                </script>
            }

            <table class="table table-hover table-bordered">
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
            <thead>
            <tr>
                <th>
                    Picture
                </th>
                <th>
                    ProductName
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
            </tr>
            </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                        <td class="text-center">
                            <img src="@item.PictureThumbnailUrl" alt="" title="" width="100%"/>
                        </td>
                        <td style="width: 15%;" class="text-left">
                            <em><a asp-controller="Product" asp-action="EditProduct" asp-route-id="@item.ProductId">@item.ProductName</a></em>
                            @if (!string.IsNullOrEmpty(item.AttributeInfo))
                            {
                                <p>
                                    @Html.Raw(item.AttributeInfo)
                                </p>
                            }
                            @if (!string.IsNullOrEmpty(item.Sku))
                            {
                                <p>
                                    <strong>SKU</strong><text>:</text>
                                    @item.Sku
                                </p>
                            }
                        </td>
                        <td style="width: 15%;" class="text-center">
                            @item.Price
                            <div id="pnlEditPvUnitPrice@(item.Id)">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input name="pvPrice@(item.Id)" type="text" value="@item.Price" id="pvPrice@(item.Id)" class="form-control input-sm"/>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width: 10%;" class="text-center">
                            <div>@item.Quantity</div>
                            <div id="pnlEditPvQuantity@(item.Id)">
                                <div class="form-group row">
                                    <div class="col-md-8 offset-md-2">
                                        <input name="pvQuantity@(item.Id)" type="text" value="@item.Quantity" id="pvQuantity@(item.Id)" class="form-control input-sm"/>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width: 15%;" class="text-center">
                                <button type="submit" class="btn btn-default" name="btnEditOrderItem@(item.Id)" onclick="toggleOrderItemEdit@(item.Id)(true);return false;" id="btnEditOrderItem@(item.Id)">
                                    <i class="fas fa-pencil-alt"></i>
                                    Edit
                                </button>

                                <button type="submit" class="btn btn-default" name="btnDeleteOrderItem@(item.Id)" id="btnDeleteOrderItem@(item.Id)">
                                    <i class="far fa-trash-alt"></i>
                                    Delete
                                </button>
                                <t-action-confirmation asp-button-id="@("btnDeleteOrderItem" + item.Id)" ></t-action-confirmation>

                                <button type="submit" class="btn btn-default" name="btnSaveOrderItem@(item.Id)" id="btnSaveOrderItem@(item.Id)">
                                    <i class="far fa-save"></i>
                                    Save
                                </button>
                                <t-action-confirmation asp-button-id="@("btnSaveOrderItem" + item.Id)" ></t-action-confirmation>

                                <button type="submit" class="btn btn-default" name="btnCancelOrderItem@(item.Id)" onclick="toggleOrderItemEdit@(item.Id)(false);return false;" id="btnCancelOrderItem@(item.Id)">
                                    <i class="fas fa-times"></i>
                                    Cancel
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</t-accordion>